# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_ELI_RIGHT

config ZMK_KEYBOARD_NAME
    default "Eli"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ELI_LEFT || SHIELD_ELI_RIGHT 

config ZMK_SPLIT
    default y


endif

CONFIG_ZMK_SLEEP=y